:root {
    /* Modified colors for the container background */
    --darkBlue: hsl(213, 19%, 16%);
    --veryDarkBlue: hsl(216, 12%, 14%);
}


.my-background {
    background: radial-gradient(circle at top, var(--darkBlue) 30%, var(--veryDarkBlue));
}
